html,
body {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    background-color: #fafafa;
    color: #666666;
    height: 100%;
}

#root, .app {
    height: 100%;
}

.formPanel {
    height: 20rem;
}

.header {
    text-align: center;
    font-size: 3rem;
    color: #8aa5d1;
    margin-top: 3rem;
    margin-bottom: 3rem;}

.logo {
    width: 9rem;
    height: 3rem;
    position: relative;
    left: -1rem;
}

.results {
    background-color: #8aa5d1;
    height: calc(100% - 300px);
}